module-tools/src/main/resources/schemas/system_versions.dtd

<!--
   Copyright 2017 Weitu, Inc.  All rights reserved.
   configuration (moduleClass?,packages?) moduleClass
  -->
<!ELEMENT system_versions (versions?) >
<!ELEMENT versions (version*)>
<!ELEMENT version (name,number,description)>
<!ELEMENT name (#PCDATA) >
<!ELEMENT number (#PCDATA) >
<!ELEMENT description (#PCDATA) >